:root {
    color-scheme: light;
}
body {
    font-family: monospace;
    max-width: 800px;
    padding: 20px;
    line-height: 1.6;
}
h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
}
.back {
    margin-bottom: 20px;
}
ul,
ol {
    list-style: none;
    padding-left: 0;
}
